## 파생변수 생성하기

In [1]:
'''
# 파생변수 : 기존 변수를 변형해 만든 변수
# 사용 데이터 : mpg(mile per gallon)
# mpg(mile per gallon)
 1) 미국 환경 보호국에서 공개한 데이터
 2) 1999 ~ 2008년 미국에 출시된 자동차 234종의 '연비'를 포함한 정보를 담고 있는 데이터
 3) 모양 : (234, 11), 하나의 행이 자동차 한 종에 대한 정보를 담고 있으며, 11개 컬럼으로 구성
 4) 컬럼 정보
    'manufacturer' : 제조 회사
    'model' : 자동차 모델명
    'displ' : 배기량
    'year' : 생산연도
    'cyl' : 실린더 갯수
    'trans' : 변속기 종류
    'drv' : 구동 방식(drive wheel)
    'cty' : 도시 연비
    'hwy' : 고속도로 연비
    'fl' : 연료 종류
    'category' : 자동차 종류
'''

# 필요한 라이브러리 임폴트
import numpy as np
import pandas as pd

# 구글 서버와 내 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

# 현재 작업 디렉토리 변경
%cd '/content/drive/MyDrive/KDT/정형데이터분석시각화'

Mounted at /content/drive
/content/drive/MyDrive/KDT/정형데이터분석시각화

In [2]:
### 데이터 불러오기

# file 경로 설정
file_name = 'mpg.csv'

# csv file --> pd.read_csv() --> DataFrame 자료형으로 변환
df_mpg = pd.read_csv(file_name)

# 결과 확인하기
df_mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [3]:
### 파생 변수 --> 새로운 컬럼 생성 --> assign(col = 연산식)
df_mpg = df_mpg.assign(total = (df_mpg.cty + df_mpg.hwy)/2)

# 결과 확인하기
df_mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,total
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

## np.where() 함수를 이용한 변수 생성

In [4]:
### 조건에 따른 값 생성 --> 새로운 변수 생성

'''
# np.where(조건문, 참인 경우의 값, 거짓인 경우의 값)
'''

df_mpg = df_mpg.assign(test = np.where(df_mpg['total']>=20.0, 'pass', 'fail'))

# 결과 확인하기
df_mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category,total,test
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,pass
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,pass
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,pass
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,pass
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,pass
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,pass
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,pass
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,pass
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,pass

In [5]:
### np.where() 함수 --> 중첩 사용 --> 3가지 이상의 값 생성

## 연비 등급(grade) 변수 만들기
# total 기준 --> A, B, C 등급 부여

df_mpg['grade'] = np.where(df_mpg['total']>=30, 'A', np.where(df_mpg['total']>=20, 'B', 'C'))

# 결과 확인하기 --> grade --> 항목별 개수 --> value_counts()
print(df_mpg.grade.value_counts())

B    118
C    106
A     10
Name: grade, dtype: int64

## groupby().agg()

In [15]:
### 집단별 요약 통계량 구하기

'''
df.groupby(by=['col1']).agg({'col2':'mean', 'col3':'median'})
'''

# 사용 데이터 --> exam.csv

# 데이터 불러오기 
file_name = 'exam.csv'
df_exam = pd.read_csv(file_name)

# 생성된 데이터 확인
print(df_exam)

print('-'*80)

# 반별 수학, 영어 평균 구하기(1)
mean1 = df_exam[['nclass', 'math', 'english']].groupby(by=['nclass']).mean()
print(mean1)

print('-'*80)

# 반별 수학, 영어 평균 구하기(2)
mean2 = df_exam.groupby(by=['nclass'])[['math', 'english']].mean()
print(mean2)

print('-'*80)

# 반별 수학, 영어 평균 구하기(3)
mean3 = df_exam.groupby(by=['nclass']).agg({'math':'mean', 'english':'mean'})
print(mean3)

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58
--------------------------------------------------------------------------------
         math  english
nclass
1       46.25    94.75
2       61.25    84.25
3       45.00    86.50
4       56.75    84.75
5       78.00    74.25
--------------------------------------------------------------------------------
         math  english
nclass
1       46.25    94.75
2       61.25    84.25
3       45.00    86.50
4       56.75    84.75
5       78.00    74.25
--------------------------------------------------------------------------------
         math  english
nclass
1       46.25    94.75
2       61.25    84.25
3       45.00    86.50
4       56.75    84.75
5       78.00    74.25

### 4/7 실습

## pd.merge(df1,df2,how,on)

In [24]:
'''
1. pd.merge(df1, df2, on, how)
2. 매개변수 : how --> join 방식
3. 매개변수 : on --> 공통 컬럼(key)
'''

# 필요한 라이브러리 임폴트
import pandas as pd

# 데이터 생성
df1 = pd.DataFrame({'key' : ['K0', 'K4', 'K2', 'K3'],
                    'A' : ['A0', 'A4', 'A2', 'A3'],
                    'B' : ['B0', 'B4', 'B2', 'B3']})

df2 = pd.DataFrame({'key' : ['K0', 'K1', 'K2', 'K3'],
                    'C' : ['C0', 'C1', 'C2', 'C3'],
                    'D' : ['D0', 'D1', 'D2', 'D3']})

# 생성 결과 확인하기
print(df1)

print('-'*80)

print(df2)

print('-'*80)

# how = 'left'
merge_left = pd.merge(df1, df2, how='left', on='key')
print(merge_left)

print('-'*80)

# how = 'inner'(default)
merge_inner = pd.merge(df1, df2, how='inner', on='key')
print(merge_inner)

print('-'*80)

# how = 'outer'(default)
merge_outer = pd.merge(df1, df2, how='outer', on='key')
print(merge_outer)

  key   A   B
0  K0  A0  B0
1  K4  A4  B4
2  K2  A2  B2
3  K3  A3  B3
--------------------------------------------------------------------------------
  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3
--------------------------------------------------------------------------------
  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K4  A4  B4  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3
--------------------------------------------------------------------------------
  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3
--------------------------------------------------------------------------------
  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K4   A4   B4  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

## 연습문제

In [28]:
### 문제1

file_name = 'midwest.csv'
df_midwest = pd.read_csv(file_name)
df_midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,35.396784,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,16.549869,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,15.064584,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,24.995504,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,21.666382,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR

In [36]:
### 문제1
df_midwest = df_midwest.assign(teen_ratio = (1 - (df_midwest.popadults/df_midwest.poptotal))*100)
df_midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,teen_ratio
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797

In [55]:
### 문제2
df_midwest.sort_values('teen_ratio', ascending =False).head(5)[['county', 'teen_ratio']]

        county  teen_ratio
230   ISABELLA   51.501172
404  MENOMINEE   50.591260
281     ATHENS   49.320727
247    MECOSTA   49.059183
154     MONROE   47.358182

In [45]:
### 문제3
df_midwest['grade'] = np.where(df_midwest['teen_ratio']>=40, 'large', np.where(df_midwest['teen_ratio']>=30, 'middle', 'small'))
df_midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,teen_ratio,grade
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307,middle
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250,middle
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301,middle
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758,middle
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740,middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093,middle
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302,middle
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712,middle
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052,middle
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797,middle

In [49]:
### 문제4
df_midwest = df_midwest.assign(asian_ratio = (df_midwest.popasian/df_midwest.poptotal)*100)
df_midwest

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,teen_ratio,grade,asian_ratio
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,34.486307,middle,0.376759
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,36.721250,middle,0.451722
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,35.501301,middle,0.106731
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,37.440758,middle,0.486918
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,31.819740,middle,0.085675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,35.731093,middle,0.885746
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,34.693302,middle,0.199549
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,31.307712,middle,0.221821
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,36.602052,middle,1.231471
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,36.422797,middle,0.980912

In [52]:
df_midwest.sort_values('asian_ratio', ascending =True).head(10)[['state', 'county', 'asian_ratio']]

    state     county  asian_ratio
404    WI  MENOMINEE     0.000000
105    IN     BENTON     0.010592
109    IN    CARROLL     0.015950
358    OH     VINTON     0.027032
390    WI       IRON     0.032504
85     IL      SCOTT     0.053154
112    IN       CLAY     0.060716
261    MI     OSCODA     0.063759
340    OH      PERRY     0.066546
73     IL      PIATT     0.070749