## 잘못된 데이터 수정하기

### 데이터프레임 정보 요약 확인하기

In [47]:
### 현재 작업 경로 확인

# 필요한 모듈 임폴트
import os

# 현재 작업 경로 확인
print(os.getcwd())

/content/drive/MyDrive/KDT/정형데이터분석시각화

In [48]:
### 구글 서버와 내 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [49]:
### 현재 작업 경로 이동
%cd '/content/drive/MyDrive/KDT/정형데이터분석시각화'

/content/drive/MyDrive/KDT/정형데이터분석시각화

In [50]:
### 데이터 생성하기

# 필요한 라이브러리 임폴트
import pandas as pd

# csv file 경로 설정
file_name = 'ns_202104.csv'

# csv file --> pd.read_csv() --> DataFrame 자료형 변환
ns_df = pd.read_csv(file_name, encoding='cp949')
ns_df

<ipython-input-50-1a3ff410d13e>:10: DtypeWarning: Columns (5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  ns_df = pd.read_csv(file_name, encoding='cp949')

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01,NaN
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01,NaN
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01,NaN
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01,NaN
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01,NaN

In [51]:
### 기본 데이터 생성하기
ns_book = ns_df.drop(columns=['Unnamed: 13'])
ns_book

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,NaN,3,811.608,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,NaN,2,688.04,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,NaN,2,813.6,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,NaN,3,809.05,2,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

In [52]:
### 데이터프레임 --> 정보 요약 확인하기
ns_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401682 entries, 0 to 401681
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       401682 non-null  int64
 1   도서명      401279 non-null  object
 2   저자       401481 non-null  object
 3   출판사      396887 non-null  object
 4   발행년도     401665 non-null  object
 5   ISBN     401682 non-null  object
 6   세트 ISBN  61871 non-null   object
 7   부가기호     325034 non-null  object
 8   권        68267 non-null   object
 9   주제분류번호   381360 non-null  object
 10  도서권수     401682 non-null  int64
 11  대출건수     401682 non-null  int64
 12  등록일자     401682 non-null  object
dtypes: int64(3), object(10)
memory usage: 39.8+ MB

### 누락된 데이터 처리하기

In [53]:
### 누락된 데이터의 개수 확인하기(1) --> isna() 함수

# isna() 함수 사용 --> boolean 배열 추출
null1 = ns_book.isna()
print(null1)

print('-'*80)

# sum() 함수 사용 --> 누락된 데이터의 개수 연산
null1 = null1.sum()

# 결과 확인하기
print(null1)

           번호    도서명     저자    출판사   발행년도   ISBN  세트 ISBN   부가기호      권  \
0       False  False  False  False  False  False     True   True   True
1       False  False  False  False  False  False     True   True   True
2       False  False  False  False  False  False     True   True   True
3       False  False  False  False  False  False     True   True   True
4       False  False  False  False  False  False     True   True   True
...       ...    ...    ...    ...    ...    ...      ...    ...    ...
401677  False  False  False  False  False  False    False   True  False
401678  False  False  False  False  False  False    False   True  False
401679  False  False  False  False  False  False    False   True  False
401680  False  False  False  False  False  False    False   True  False
401681  False  False  False  False  False  False    False  False  False

        주제분류번호   도서권수   대출건수   등록일자
0         True  False  False  False
1         True  False  False  False
2         True  False  False  False
3         True  False  False  False
4         True  False  False  False
...        ...    ...    ...    ...
401677   False  False  False  False
401678   False  False  False  False
401679   False  False  False  False
401680   False  False  False  False
401681   False  False  False  False

[401682 rows x 13 columns]
--------------------------------------------------------------------------------
번호              0
도서명           403
저자            201
출판사          4795
발행년도           17
ISBN            0
세트 ISBN    339811
부가기호        76648
권          333415
주제분류번호      20322
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [54]:
### 누락된 데이터의 개수 확인하기(1) --> isnull() 함수

# isnull() 함수 사용 --> boolean 배열 추출
null2 = ns_book.isnull()
print(null2)

print('-'*80)

# sum() 함수 사용 --> 누락된 데이터의 개수 연산
null2 = null2.sum()

# 결과 확인하기
print(null2)

           번호    도서명     저자    출판사   발행년도   ISBN  세트 ISBN   부가기호      권  \
0       False  False  False  False  False  False     True   True   True
1       False  False  False  False  False  False     True   True   True
2       False  False  False  False  False  False     True   True   True
3       False  False  False  False  False  False     True   True   True
4       False  False  False  False  False  False     True   True   True
...       ...    ...    ...    ...    ...    ...      ...    ...    ...
401677  False  False  False  False  False  False    False   True  False
401678  False  False  False  False  False  False    False   True  False
401679  False  False  False  False  False  False    False   True  False
401680  False  False  False  False  False  False    False   True  False
401681  False  False  False  False  False  False    False  False  False

        주제분류번호   도서권수   대출건수   등록일자
0         True  False  False  False
1         True  False  False  False
2         True  False  False  False
3         True  False  False  False
4         True  False  False  False
...        ...    ...    ...    ...
401677   False  False  False  False
401678   False  False  False  False
401679   False  False  False  False
401680   False  False  False  False
401681   False  False  False  False

[401682 rows x 13 columns]
--------------------------------------------------------------------------------
번호              0
도서명           403
저자            201
출판사          4795
발행년도           17
ISBN            0
세트 ISBN    339811
부가기호        76648
권          333415
주제분류번호      20322
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [55]:
### 누락된 값 확인하기

# 상위 2개의 데이터 확인(1)
print(ns_book.head(2))

print('-'*80)

# 상위 2개의 데이터 확인(2)
print(ns_book.iloc[0:2, :])

print('-'*80)

# 상위 2개의 데이터 확인(3)
ns_book.iloc[[0,1], :]

   번호           도서명      저자   출판사  발행년도           ISBN 세트 ISBN 부가기호    권  \
0   1       인공지능과 흙  김동훈 지음   민음사  2021  9788937444319     NaN  NaN  NaN
1   2  가짜 행복 권하는 사회  김태형 지음  갈매나무  2021  9791190123969     NaN  NaN  NaN

  주제분류번호  도서권수  대출건수        등록일자
0    NaN     1     0  2021-03-19
1    NaN     1     0  2021-03-19
--------------------------------------------------------------------------------
   번호           도서명      저자   출판사  발행년도           ISBN 세트 ISBN 부가기호    권  \
0   1       인공지능과 흙  김동훈 지음   민음사  2021  9788937444319     NaN  NaN  NaN
1   2  가짜 행복 권하는 사회  김태형 지음  갈매나무  2021  9791190123969     NaN  NaN  NaN

  주제분류번호  도서권수  대출건수        등록일자
0    NaN     1     0  2021-03-19
1    NaN     1     0  2021-03-19
--------------------------------------------------------------------------------

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [56]:
### 첫번째 행, 컬럼 : 도서권수 --> 데이터 추출 --> 누락 데이터로 변환
ns_book.loc[0,'도서권수'] = None

# 결과 확인하기
ns_book.loc[0,'도서권수']
ns_book.iloc[[0,1],:]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,NaN,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1.0,0,2021-03-19

In [57]:
### 누락된 데이터의 자료형 확인
print(f'누락 데이터의 자료형 = {type(ns_book.loc[0, "도서권수"])}')

누락 데이터의 자료형 = <class 'numpy.float64'>

In [58]:
### 누락된 데이터 복구하기
ns_book.loc[0, '도서권수'] = 1

# 결과 확인하기 --> 상위 2개의 데이터 확인
ns_book.iloc[[0, 1], :]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1.0,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1.0,0,2021-03-19

In [59]:
### np.nan을 이용 --> 누락 데이터로 변형 가능 여부 확인
import numpy as np

ns_book.loc[0, '도서권수'] = np.nan

# 결과 확인하기
ns_book.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,NaN,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1.0,0,2021-03-19

In [60]:
### 누락된 데이터 복구하기
ns_book.loc[0, '도서권수'] = 1

# 결과 확인하기 --> 상위 2개의 데이터 확인
ns_book.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1.0,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1.0,0,2021-03-19

In [61]:
### 누락된 값으로 표시하기(2)

# 문자열 데이터의 경우 --> None 입력 --> 누락된 값으로 인식(?)
ns_book.loc[0, '출판사'] = None # 문자열은 안된다.

# 결과 확인하기 --> 상위 2개의 데이터 확인
ns_book.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,None,2021,9788937444319,NaN,NaN,NaN,NaN,1.0,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1.0,0,2021-03-19

In [62]:
### 누락된 값으로 표시하기(2)

# 문자열 데이터의 경우 --> np.nan 입력 --> 누락된 값으로 인식(?)
ns_book.loc[0, '출판사'] = np.nan

# 결과 확인하기 --> 상위 2개의 데이터 확인
ns_book.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,NaN,2021,9788937444319,NaN,NaN,NaN,NaN,1.0,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1.0,0,2021-03-19

In [63]:
### 누락된 데이터 복구하기
ns_book.loc[0, '출판사'] = '민음사'

# 결과 확인하기
ns_book.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1.0,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1.0,0,2021-03-19

In [64]:
### 데이터 타입 변경하기
ns_book = ns_book.astype({'도서권수':'int64'})

# 결과 확인하기
ns_book.head(2)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [65]:
### fillna() 이용 --> 특정 컬럼의 누락된 데이터 변경하기

# '세트 ISBN' 컬럼의 누락 데이터의 수 확인하기
num_null = ns_book['세트 ISBN'].isnull().sum()
print(num_null)

print('-'*80)

# fillna() 함수 이용
fill_null = ns_book['세트 ISBN'].fillna("없음")
print(fill_null)

print('-'*80)

# '세트 ISBN' 컬럼의 누락 데이터의 수 확인하기
num_null = fill_null.isnull().sum()
print(num_null)

339811
--------------------------------------------------------------------------------
0                      없음
1                      없음
2                      없음
3                      없음
4                      없음
               ...
401677    9788977352988.0
401678    9788985367424.0
401679    9788937401589.0
401680    9788947700405.0
401681    9788970610092.0
Name: 세트 ISBN, Length: 401682, dtype: object
--------------------------------------------------------------------------------
0

In [66]:
### fillna() 이용 --> 데이터프레임의 누락 데이터 변경하기

df1 = ns_book.fillna("없음")
print(df1)

print('-'*80)

# 누락 데이터의 수 확인하기
num_nulls = df1.isnull().sum()
print(num_nulls)

            번호                    도서명                저자    출판사  발행년도  \
0            1                인공지능과 흙            김동훈 지음    민음사  2021
1            2           가짜 행복 권하는 사회            김태형 지음   갈매나무  2021
2            3  나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음   블랙피쉬  2021
3            4                예루살렘 해변  이도 게펜 지음, 임재희 옮김  문학세계사  2021
4            5  김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음    김영사  2021
...        ...                    ...               ...    ...   ...
401677  401678                韓國現代詩大系            채만묵 編著  한국문화사  1996
401678  401679                  뉴 웨이브        제임스 모나코 지음    한나래  1996
401679  401680           (최인훈 장편소설)화두            최인훈 지음    민음사  1994
401680  401681           독일 문학과 세계 문학            吳漢鎭 編著     벽호  1995
401681  401682             참으로 소중한 생각            김일상 지음    동문사  1995

                 ISBN          세트 ISBN 부가기호   권   주제분류번호  도서권수  대출건수  \
0       9788937444319               없음   없음  없음       없음     1     0
1       9791190123969               없음   없음  없음       없음     1     0
2       9788968332982               없음   없음  없음       없음     1     0
3       9788970759906               없음   없음  없음       없음     1     0
4       9788934990833               없음   없음  없음       없음     1     0
...               ...              ...  ...  ..      ...   ...   ...
401677  9788977352971  9788977352988.0   없음   3  811.608     1     0
401678  9788985367448  9788985367424.0   없음   2   688.04     1     0
401679  9788937401596  9788937401589.0   없음   2    813.6     1     0
401680  9788947700368  9788947700405.0   없음   3   809.05     2     0
401681  9788970610092  9788970610092.0    0   1    814.6     0     0

              등록일자
0       2021-03-19
1       2021-03-19
2       2021-03-19
3       2021-03-19
4       2021-03-19
...            ...
401677  1970-01-01
401678  1970-01-01
401679  1970-01-01
401680  1970-01-01
401681  1970-01-01

[401682 rows x 13 columns]
--------------------------------------------------------------------------------
번호         0
도서명        0
저자         0
출판사        0
발행년도       0
ISBN       0
세트 ISBN    0
부가기호       0
권          0
주제분류번호     0
도서권수       0
대출건수       0
등록일자       0
dtype: int64

In [67]:
### replace() 이용 --> 여러 개의 데이터를 변경하기

# replace() --> 매개변수 : python dict 자료형 --> {key:value} 쌍으로 전달
df2 = ns_book.replace({np.nan : "없음", '2021' : '21'})

# 결과 확인하기
df2

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,21,9788937444319,없음,없음,없음,없음,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,21,9791190123969,없음,없음,없음,없음,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,21,9788968332982,없음,없음,없음,없음,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,21,9788970759906,없음,없음,없음,없음,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,21,9788934990833,없음,없음,없음,없음,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,없음,3,811.608,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,없음,2,688.04,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,없음,2,813.6,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,없음,3,809.05,2,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

In [68]:
### replace() 이용 --> 컬럼마다 다른 값으로 바꾸는 경우

'''
1. 컬럼 이름과 바꾸려는 값 --> python dict --> key:value 쌍
2. df.replace({col1:{원래값 : 변경할 값}, col2"{원래값 : 변경할 값}, ...})
'''

df3 = ns_book.replace({'부가기호':{np.nan:'없음'}, '발행년도':{'2021':'21'}})

# 결과 확인하기
df3

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,21,9788937444319,NaN,없음,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,21,9791190123969,NaN,없음,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,21,9788968332982,NaN,없음,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,21,9788970759906,NaN,없음,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,21,9788934990833,NaN,없음,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988.0,없음,3,811.608,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424.0,없음,2,688.04,1,0,1970-01-01
401679,401680,(최인훈 장편소설)화두,최인훈 지음,민음사,1994,9788937401596,9788937401589.0,없음,2,813.6,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405.0,없음,3,809.05,2,0,1970-01-01
401681,401682,참으로 소중한 생각,김일상 지음,동문사,1995,9788970610092,9788970610092.0,0,1,814.6,0,0,1970-01-01

### 이상치 처리하기

In [69]:
### 이상치가 있는 데이터 불러오기

# file 경로 설정
file_name = 'weather.csv'

# read_csv() 실행
df_weather = pd.read_csv(file_name)

# 결과 확인하기 --> info()
print("기본정보 : ")
df_weather.info()
print('-'*80)
print(f'데이터의 모양 = {df_weather.shape}')
print('-'*80)
print(f'전체 데이터 출력 : \n{df_weather}')

기본정보 :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   temp    100000 non-null  int64
 1   hum     100000 non-null  int64
 2   atm     100000 non-null  int64
 3   speed   100000 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
--------------------------------------------------------------------------------
데이터의 모양 = (100000, 4)
--------------------------------------------------------------------------------
전체 데이터 출력 :
       temp  hum   atm  speed
0        17   34  1018    3.1
1        17   34  1018    3.1
2        17   34  1018    3.1
3        17   34  1018    3.1
4        17   34  1018    3.1
...     ...  ...   ...    ...
99995     9   71  1009    2.6
99996     9   71  1009    2.6
99997     9   71  1009    2.6
99998     9   71  1009    2.6
99999     9   71  1009    2.6

[100000 rows x 4 columns]

### 3/31 실습

In [70]:
### 각 컬럼 별 4분위 수 구하기

'''
df.col.quantile(q=)
'''

# 1/4 분위수 구하기
q1 = df_weather.quantile(q=0.25)
print(f'1사분위수 = \n{q1}')

print('-'*80)

# 2/4 분위수 구하기
q2 = df_weather.quantile(q=0.5)
print(f'2사분위수 = \n{q2}')

print('-'*80)

# 3/4 분위수 구하기
q3 = df_weather.quantile(q=0.75)
print(f'3사분위수 = \n{q3}')

1사분위수 =
temp       15.0
hum        66.0
atm      1002.0
speed       1.5
Name: 0.25, dtype: float64
--------------------------------------------------------------------------------
2사분위수 =
temp       16.0
hum        87.0
atm      1006.0
speed       3.1
Name: 0.5, dtype: float64
--------------------------------------------------------------------------------
3사분위수 =
temp       19.0
hum        93.0
atm      1007.0
speed       4.6
Name: 0.75, dtype: float64

In [71]:
### 각 컬럼 별 IQR 구하기

'''
IQR = q3 - q1
'''

IQR = q3 - q1
print(IQR)

temp      4.0
hum      27.0
atm       5.0
speed     3.1
dtype: float64

In [72]:
### 각 컬럼 별 정상 범위 데이터의 최소값 / 최대값 구하기

'''
1. min = q1 - (1.5 * IQR)
2. max = q3 + (1.5 * IQR)
3. 정상 데이터 : (min, max)
'''

# 최소값 구하기
min = q1 - (1.5 * IQR)
print(f'정상 데이터의 최소값 : \n{min}')
print('-'*80)

# 최대값 구하기
max = q3 + (1.5 * IQR)
print(f'정상 데이터의 최대값 : \n{max}')
print('-'*80)

정상 데이터의 최소값 :
temp       9.00
hum       25.50
atm      994.50
speed     -3.15
dtype: float64
--------------------------------------------------------------------------------
정상 데이터의 최대값 :
temp       25.00
hum       133.50
atm      1014.50
speed       9.25
dtype: float64
--------------------------------------------------------------------------------

In [73]:
### 이상치 제거 함수 실행

def remove_outlier(df, col):
    data = df[col]
    q1 = data.quantile(q=0.25)
    q3 = data.quantile(q=0.75)
    iqr = q3 - q1
    iqr = iqr * 1.5
    min = q1 - iqr
    max = q3 + iqr
    # boolean 인덱싱 이용
    outlier_index = data[(data<min) | (data>max)].index
    df.drop(index=outlier_index, axis=0, inplace=True)
    print(f'이상치 제거 후 데이터의 모양 = {df.shape}')
    return df

In [74]:
### 이상치 제거 함수 실행

# temp 컬럼 실행
remove_outlier(df_weather, 'temp')
print('-'*80)

# hum 컬럼 실행
remove_outlier(df_weather, 'hum')
print('-'*80)

# atm 컬럼 실행
remove_outlier(df_weather, 'atm')
print('-'*80)

# speed 컬럼 실행
remove_outlier(df_weather, 'speed')
print('-'*80)

이상치 제거 후 데이터의 모양 = (97484, 4)
--------------------------------------------------------------------------------
이상치 제거 후 데이터의 모양 = (94628, 4)
--------------------------------------------------------------------------------
이상치 제거 후 데이터의 모양 = (92470, 4)
--------------------------------------------------------------------------------
이상치 제거 후 데이터의 모양 = (91751, 4)
--------------------------------------------------------------------------------

## Feature Engineering

### Label Encoding

In [75]:
'''
1. 붓꽃(iris) dataset 이용
2. Label Encoding : 붓꽃 품종의 이름을 수치 데이터로 표현
'''

# 붓꽃 데이터 불러오기

# file 경로 설정
file_name = 'iris_dataset.csv'

# read_csv() 실행
df_iris = pd.read_csv(file_name)

# 결과 확인하기
print('기본 정보 확인')
df_iris.info()
df_iris

기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   label              150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [76]:
### 붓꽃 품종의 종류 확인 --> value_counts() 사용
print(df_iris.label.value_counts())

setosa        50
versicolor    50
virginica     50
Name: label, dtype: int64

In [77]:
### Label Encoding 실행

# replace() 사용
df_iris_label = df_iris.replace({'setosa':0, 'versicolor':1, 'virginica':2})

# 결과 확인하기
print(df_iris_label.value_counts())

sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  label
5.8                2.7               5.1                1.9               2        2
6.2                2.2               4.5                1.5               1        1
                   2.9               4.3                1.3               1        1
                   3.4               5.4                2.3               2        1
6.3                2.3               4.4                1.3               1        1
                                                                                  ..
5.4                3.9               1.3                0.4               0        1
                                     1.7                0.4               0        1
5.5                2.3               4.0                1.3               1        1
                   2.4               3.7                1.0               1        1
7.9                3.8               6.4                2.0               2        1
Length: 149, dtype: int64

### One-Hot Encoding

In [78]:
### pd.get_dummies() 사용
df_iris_dummies = pd.get_dummies(df_iris, columns=['label'])

# 결과 확인하기
print(df_iris_dummies)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     label_setosa  label_versicolor  label_virginica
0               1                 0                0
1               1                 0                0
2               1                 0                0
3               1                 0                0
4               1                 0                0
..            ...               ...              ...
145             0                 0                1
146             0                 0                1
147             0                 0                1
148             0                 0                1
149             0                 0                1

[150 rows x 7 columns]

### Binning(구간화)

In [83]:
'''
### pd.cut(x, bins, labels)
'''

# 데이터 설정
ages = [1, 10, 15, 13, 21, 23 ,37, 31, 43, 80, 61, 20, 41, 32, 100]
bins = [0, 15, 25, 35, 60, 100]
labels = ['어린이', '청년', '장년', '중년', '노년']

# pd.cut() 적용
cuts = pd.cut(ages, bins, labels)

# 결과 확인하기
print(f'전체 정보 확인 : \n{cuts}')
print('-'*80)
print(f'범주 정보 확인 : \n{cuts.categories}')

전체 정보 확인 :
[(0, 15], (0, 15], (0, 15], (0, 15], (15, 25], ..., (60, 100], (15, 25], (35, 60], (25, 35], (60, 100]]
Length: 15
Categories (5, interval[int64, right]): [(0, 15] < (15, 25] < (25, 35] < (35, 60] < (60, 100]]
--------------------------------------------------------------------------------
범주 정보 확인 :
IntervalIndex([(0, 15], (15, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [86]:
### 보충 : 누락 데이터 표현

python_null = None
pandas_numpy_null = np.nan

# python_null 출력
print(python_null)
print(type(python_null))
print(id(python_null))

print('-'*80)

# pandas_numpy_null 출력
print(pandas_numpy_null)
print(type(pandas_numpy_null))
print(id(pandas_numpy_null))

# pandas --> dataframe 생성 -> 누락 데이터 입력 : np.nan 사용
# mydict1 = {'nulltest':[None, np.nan, 2, 20]}
mydict1 = {'nulltest':[np.nan, 2, 20]}
df1 = pd.DataFrame(mydict1)
print(df1)

print('-'*80)

# mydict2 = {'nulltest': [None, np.nan, 'python', 'pandas']}
mydict2 = {'nulltest': [np.nan, 'python', 'pandas']}
df2 = pd.DataFrame(mydict2)
print(df2)

None
<class 'NoneType'>
9760320
--------------------------------------------------------------------------------
nan
<class 'float'>
140096867768176
   nulltest
0       NaN
1       2.0
2      20.0
--------------------------------------------------------------------------------
  nulltest
0      NaN
1   python
2   pandas